<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title Page</title>
</head>
<body>
    <h1> About the Home Page </h1>
    <div class="containar" style="text-align: center;">
        
        <h1>Heading for the Html Page </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam vel voluptatum blanditiis corporis minus quae dolor voluptas dolorem, 
            exercitationem at unde odit incidunt laboriosam nemo! Neque quia dicta vitae in.
        </p>

        <Button>
            Contact Us
        </Button>

    </div>
</body>
</html>